<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Register JDBC Driver -->
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <!-- Define connection URL-->
        <property name="hibernate.connection.url">jdbc:oracle:thin:@127.0.0.1:1521:xe</property>
        <!-- Define username-->
        <property name="hibernate.connection.username">testdb</property>
        <!-- Define Password-->
        <property name="hibernate.connection.password">testdb</property>
        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">create</property>

        <!--Define Path of all the Entities-->
        <mapping class="com.extra.hibernate.DatabaseUser"/>

        <!-- Mapping resource in case of XML files are used not annotations-->
        <!-- <mapping resource="employee.hbm.xml"/>-->

    </session-factory>
</hibernate-configuration>